.container {
  display: flex;
  justify-content: center;
  background: lightgray;
  margin: 0 auto;
  width: 600px;
  height: 200px;
}
.circuloA {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: blue;
}
.circuloA:hover {
  background: #9999ff;
}
.circuloB {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: green;
}
.circuloB:hover {
  background: #1aff1a;
}
.circuloC {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: red;
}
.circuloC:hover {
  background: #ff3333;
}
